#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE 9, 1

IDC_FIGURELEVELEDITOR MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New Map\tCtrl+N",      IDM_FILE_NEW_MAP
        MENUITEM "&Open Map...\tCtrl+O",  IDM_FILE_OPEN_MAP
        MENUITEM "&Save Map\tCtrl+S",     IDM_FILE_SAVE_MAP
        MENUITEM "Save Map &As...",        IDM_FILE_SAVE_MAP_AS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                  IDM_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Delete\tDelete",       IDM_EDIT_DELETE
    END
    POPUP "&Tools"
    BEGIN
        MENUITEM "&Select",                IDM_TOOL_SELECT
        MENUITEM "&Block Tool",            IDM_TOOL_BLOCK
        MENUITEM "&Entity Tool",           IDM_TOOL_ENTITY
        MENUITEM "&Texture Tool",          IDM_TOOL_TEXTURE
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Perspective",           IDM_VIEW_PERSPECTIVE
        MENUITEM "&Top",                   IDM_VIEW_TOP
        MENUITEM "&Properties",            IDM_VIEW_PROPERTIES
        MENUITEM "&Output",                IDM_VIEW_OUTPUT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...\tF1",         IDM_ABOUT
    END
END

IDC_FIGURELEVELEDITOR ACCELERATORS
BEGIN
    "N", IDM_FILE_NEW_MAP, CONTROL, VIRTKEY
    "O", IDM_FILE_OPEN_MAP, CONTROL, VIRTKEY
    "S", IDM_FILE_SAVE_MAP, CONTROL, VIRTKEY
    VK_DELETE, IDM_EDIT_DELETE, VIRTKEY
    VK_F1, IDM_ABOUT, VIRTKEY
END

IDD_ABOUTBOX DIALOGEX 0, 0, 200, 72
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Figure Level Editor"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Figure Level Editor",IDC_STATIC,14,14,140,8,SS_NOPREFIX
    LTEXT           "Starter map editor for block-out, selection, and save/load.",IDC_STATIC,14,28,172,18
    DEFPUSHBUTTON   "OK",IDOK,136,50,50,14,WS_GROUP
END

STRINGTABLE
BEGIN
    IDC_FIGURELEVELEDITOR "FIGURELEVELEDITOR"
    IDS_APP_TITLE         "Figure Level Editor"
END

#endif
